@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<h1>Yazarın Blogları</h1>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durumu</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>
                @if (item.BlogStatus)
                {
                    <span class="badge badge-success">Aktif</span>
                }
                else
                {
                    <span class="badge badge-secondary">Pasif</span>
                }
                    </td>
                <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-gradient-danger">Sil</a></td>
                <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-gradient-warning">Düzenle</a></td>
        </tr>
    }
    </tbody>     
</table>
<a href="/Blog/BlogAdd/" class="btn btn-gradient-primary btn-rounded">Yeni Blog Oluştur</a>