
<div class="tech-btm">
	<h4>Haber bültenimize kaydolun</h4>
	<form action="/NewsLatter/SubscribeMail/" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Kayıt Ol">
	</form>

</div>
